<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Skills Tracker</h1>
    <h2>We have a few skills we would like to learn. Here is the list!</h2>
    <ol>
        <li>Java</li>
        <li>JavaScript</li>
        <li>Python</li>
    </ol>

    <form method="post">
        Name:<input type="text" name="nameInput"><br>
        My favorite language:  <select name="Skills1" id="Skills1">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
        </select><br>
        My Second favorite language:  <select name="Skills2" id="Skills2">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
    </select><br>
        My third favorite language:  <select name="Skills3" id="Skills3">
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Python">Python</option>
    </select><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>